<div style=" padding: 20px;">
    <div class="">
        <h3 class="m-0 font">Service List</h3>
    </div>
    <div class="desktop phone justify-content-between align-content-center mt-3">
        <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search by Name, Code, or Contact">
        </mat-form-field>
        <div class="desktop phone gap-3">
            <button mat-flat-button (click)="excelDownload('Service-list')">Export To Excel</button>
            <button mat-flat-button (click)="addService()">Add Service</button>
        </div>
    </div>
    <div class="table-responsive" style="margin-top: 20px;">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8  sort"
            style="width: 100%; border-collapse: collapse;">
            <!-- ServiceID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    style="background: #004d99; color: white; padding: 10px;">ID</th>
                <td mat-cell *matCellDef="let Service" style="padding: 10px;">{{ Service.id }}</td>
            </ng-container>

            <!-- service_name Column -->
            <ng-container matColumnDef="service_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    style="background: #004d99; color: white; padding: 10px;">Service Name</th>
                <td mat-cell *matCellDef="let Service" style="padding: 10px;">{{ Service.service_name }}</td>
            </ng-container>

            <!-- purchase_price Column -->
            <ng-container matColumnDef="purchase_price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    style="background: #004d99; color: white; padding: 10px;">Purchase Price</th>
                <td mat-cell *matCellDef="let Service" style="padding: 10px;">{{ Service.purchase_price |
                    currency:'INR'}}</td>
            </ng-container>

            <!-- CreatedAt Column -->
            <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    style="background: #004d99; color: white; padding: 10px;">Created At</th>
                <td mat-cell *matCellDef="let Service" style="padding: 10px;">
                    {{ Service.created_at | date: 'dd/MM/yyyy, h:mm a' }}
                </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef style="background: #004d99; color: white; padding: 10px;">Actions
                </th>
                <td mat-cell *matCellDef="let Service" style="padding: 10px;">
                    <button mat-button color="primary" style="margin-right: 10px;"
                        (click)="editService(Service)" *ngIf="Role === 'Admin'">Edit</button>
                    <button mat-button color="warn" (click)="deleteItem(Service.id)" *ngIf="Role === 'Admin'">Delete</button>
                </td>
            </ng-container>

            <!-- Header and Row Declarations -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="border-bottom: 2px solid #004d99;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="border-bottom: 1px solid #ddd;"></tr>
        </table>

        <!-- Pagination -->
        <mat-paginator [length]="ServiceList.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons></mat-paginator>
    </div>
</div>