<div class="container mt-3">
    <!-- Dynamic Title -->
    <h3>{{ isEditMode ? 'Edit Transaction' : 'Add Transaction' }}</h3>

    <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <!-- Portal -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Portal</mat-label>
                    <mat-select formControlName="portalId" (selectionChange)="onPortalSelect($event)">
                        <mat-option *ngFor="let portal of portalList" [value]="portal.PortalID">
                            {{ portal.Name }} ({{ portal.Code }})
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="transactionForm.get('portalId')?.hasError('required')">Portal is
                        required</mat-error>
                </mat-form-field>
            </div>
            
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Vendor</mat-label>
                    <mat-select formControlName="VendorID" placeholder="Select Vendor">
                        <mat-option *ngFor="let vendor of VendorList" [value]="vendor.id">
                            {{ vendor.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- Account No -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Account No</mat-label>
                    <input matInput type="number" formControlName="ACNo" min="0" placeholder="Enter Account No">
                    <mat-error *ngIf="transactionForm.get('ACNo')?.hasError('required')">Account No is
                        required</mat-error>
                </mat-form-field>
            </div>

            <!-- First Name -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="FirstName" placeholder="Enter First Name">
                    <mat-error *ngIf="transactionForm.get('FirstName')?.hasError('required')">First Name is
                        required</mat-error>
                </mat-form-field>
            </div>

            <!-- Last Name -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="LastName" placeholder="Enter Last Name">
                    <mat-error *ngIf="transactionForm.get('LastName')?.hasError('required')">Last Name is
                        required</mat-error>
                </mat-form-field>
            </div>

            <!-- Contact No -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Contact No</mat-label>
                    <input matInput type="number" min="0" formControlName="ContactNo" placeholder="Enter Contact No">
                    <mat-error *ngIf="transactionForm.get('ContactNo')?.hasError('required')">Contact No is
                        required</mat-error>
                    <mat-error *ngIf="transactionForm.get('ContactNo')?.hasError('pattern')">Enter a valid 10-digit
                        Contact No</mat-error>
                </mat-form-field>
            </div>

            <!-- IFSC No -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>IFSC No</mat-label>
                    <input matInput formControlName="IFSCNo" placeholder="Enter IFSC No">
                    <mat-error *ngIf="transactionForm.get('IFSCNo')?.hasError('required')">IFSC No is
                        required</mat-error>
                </mat-form-field>
            </div>

            <!-- Transaction Type -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Choose a Transaction date</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY"
                        formControlName="TransactionDate" />
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="transactionForm.get('TransactionDate')?.hasError('required')">
                        Date is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-xl-6">
                <mat-card appearance="outlined" class="p-3">
                    <p class="text-danger fw-bold">Cash Details</p>
                    <div class="row">
                        <!-- Cash Denominations -->
                        <div class="col-12 col-sm-6 col-md-4 col-xl-4" *ngFor="let cash of cashDenominations">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>{{ cash.label }}</mat-label>
                                <input matInput type="number" min="0" [formControlName]="cash.name"
                                    placeholder="{{ cash.placeholder }}" [readonly]="cash.name === 'TotalCash'"
                                    (input)="updateDenominationTotal(cash.name, cash.multiplier)" />
                                <mat-error *ngIf="transactionForm.get(cash.name)?.hasError('pattern')">
                                    Enter a valid number
                                </mat-error>
                            </mat-form-field>
                            <p *ngIf="cash.name !== 'TotalCash'" class="m-0">
                                Total: <span class="text-danger" style="font-size: 18px; font-weight: 600;">{{
                                    denominationTotals[cash.name] || 0 }}</span>
                            </p>
                        </div>
                        <!-- <div class="col-12 col-sm-6 col-md-4 col-xl-4" *ngFor="let cash of cashDenominations">
                            <div class="denomination-box">
                                <span>{{ cash.label }} X</span>
                                <input type="number" min="0" [formControlName]="cash.name"
                                    placeholder="{{ cash.placeholder }}" [readonly]="cash.name === 'TotalCash'"
                                    (input)="updateDenominationTotal(cash.name, cash.multiplier)" />
                            </div>
                            <p *ngIf="cash.name !== 'TotalCash'" class="m-0">
                                Total: <span class="total-box">{{ denominationTotals[cash.name] || 0 }}</span>
                            </p>
                        </div> -->
                        <!-- Total Cash -->
                        <div class="col-12 col-sm-6 col-md-4 col-xl-4">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>TotalCash</mat-label>
                                <input matInput formControlName="TotalCash" placeholder="Enter TotalCash" readonly>
                                <mat-error *ngIf="transactionForm.get('TotalCash')?.hasError('required')">TotalCash is
                                    required</mat-error>
                            </mat-form-field>
                            <p class="m-0">
                                Total: <span class="text-danger" style="font-size: 18px; font-weight: 600;">
                                    {{ transactionForm.value?.TotalCash || 0 }}</span>
                            </p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-xl-6">
                <mat-card appearance="outlined" class="p-3">
                    <p class="text-danger fw-bold">Deposite</p>
                    <div class="row">
                        <!-- Collection Amount -->
                        <div class="col-12 col-sm-6 col-md-4 col-xl-6">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Collection Amount</mat-label>
                                <input matInput formControlName="CollectionAmt" placeholder="Enter Collection Amount">
                                <mat-error *ngIf="transactionForm.get('CollectionAmt')?.hasError('required')">
                                    Collection Amount is required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <!--  Fixed Amount -->
                        <div class="col-12 col-sm-6 col-md-4 col-xl-6">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label> Fixed Amount</mat-label>
                                <input matInput formControlName="FixedAmt" placeholder="Enter  Fixed Amount">
                                <mat-error *ngIf="transactionForm.get('FixedAmt')?.hasError('required')">
                                    Fixed Amount is required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <!-- Bank Charge -->
                        <div class="col-12 col-sm-6 col-md-4 col-xl-6">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Bank Charge</mat-label>
                                <input matInput formControlName="BankCharge" placeholder="Enter Bank Charge">
                                <mat-error *ngIf="transactionForm.get('BankCharge')?.hasError('required')">
                                    Bank Charge is required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <!--  Extra -->
                        <div class="col-12 col-sm-6 col-md-4 col-xl-6">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label> Extra</mat-label>
                                <input matInput formControlName="Extra" placeholder="Enter  Extra">
                                <mat-error *ngIf="transactionForm.get('Extra')?.hasError('required')">
                                    Extra is required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <!-- Bank Deposit -->
                        <div class="col-12 col-sm-6 col-md-4 col-xl-6">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Bank Deposit</mat-label>
                                <input matInput formControlName="BankDeposit" placeholder="Enter Bank Deposit">
                                <mat-error *ngIf="transactionForm.get('BankDeposit')?.hasError('required')">
                                    Bank Deposit is required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <!-- Customer Deposit -->
                        <div class="col-12 col-sm-6 col-md-4 col-xl-6">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Customer Deposit</mat-label>
                                <input matInput formControlName="CustDeposit" placeholder="Enter Customer Deposit">
                                <mat-error *ngIf="transactionForm.get('CustDeposit')?.hasError('required')">
                                    Customer Deposit is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="col-12 mt-3">
            <button mat-raised-button color="primary" type="submit" [disabled]="transactionForm.invalid">Submit</button>
        </div>
    </form>
</div>