<div class="bg">
    <div class="login-container">
        <p>
            Enter your login details
        </p>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email Address</mat-label>
                <input matInput type="email" id="email" formControlName="email" placeholder="Enter your email">
                <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</mat-error>
                <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">Enter a valid email.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Password</mat-label>
                <div matSuffix>
                    <button mat-icon-button type="button" (click)="togglePasswordVisibility()">
                        <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </div>
                <input matInput [type]="showPassword ? 'text' : 'password'" id="password"
                    formControlName="password_hash" placeholder="Enter your password">
                <mat-error *ngIf="loginForm.get('password_hash')?.errors?.['required']">Password is
                    required.</mat-error>
                <mat-error *ngIf="loginForm.get('password_hash')?.errors?.['minlength']">Minimum 6 characters
                    required.</mat-error>
            </mat-form-field>
            <button class="btn btn-login" type="submit" [disabled]="loginForm.invalid">Login</button>
        </form>
        <a class="forgot-password" href="#">
            Forgot Password ?
        </a>
        <p class="m-0 cursor-pointer" routerLink="/auth/company/register">Register Your Company</p>
        <p class="footer-text">
            Copyright ©2024 TKS
        </p>
    </div>
</div>