<div class="container p-4 bg-light shadow-lg rounded">
    <!-- Dynamic Title -->
    <h3 class="mb-4  text-center">
        {{ isEditMode ? 'Edit Sale' : 'Add Sale' }}
    </h3>

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="">
        <div class="row g-3">
            <!-- Customer Name Section -->
            <div class="col-sm-12 col-md-4">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" placeholder="Enter name">
                    <mat-error *ngIf="myForm.get('name')?.hasError('required')">Name is required</mat-error>
                </mat-form-field>
            </div>

            <!-- Phone -->
            <div class="col-sm-12 col-md-4">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="phone" placeholder="Enter phone">
                </mat-form-field>
            </div>

            <!-- Payement Type -->
            <div class="col-sm-12 col-md-4">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Payment Type</mat-label>
                    <mat-select formControlName="paymentType">
                        <mat-option *ngFor="let type of paymentTypes" [value]="type">
                            {{ type }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Add Row Button -->
            <div class="col-12 text-end">
                <button mat-raised-button style="background: #004d99;color: white;" (click)="addRow()" type="button">
                    <mat-icon>add</mat-icon> Add Service
                </button>
            </div>

            <!-- Services Table -->
            <div class="col-12">
                <div class="card p-3 shadow-sm rounded">
                    <table class="table table-striped align-middle">
                        <thead class="bg-primary text-white">
                            <tr>
                                <th>Service</th>
                                <th>Protal</th>
                                <th>Price</th>
                                <th style="width: 100px;">Discount</th>
                                <th>Description</th>
                                <th *ngIf="isEditMode">Commission</th>
                                <!--  <th>Amount</th> -->
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody formArrayName="services">
                            <tr *ngFor="let service of FormArray.controls; let i = index" [formGroupName]="i">
                                <td>
                                    <mat-form-field appearance="fill" class="full-width">
                                        <input matInput type="text" formControlName="service_name"
                                            placeholder="Enter Service Name">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="full-width" appearance="fill">
                                        <mat-label>Portal</mat-label>
                                        <mat-select formControlName="portalId">
                                            <mat-option *ngFor="let portal of portalList" [value]="portal.PortalID">
                                                {{ portal.Name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field appearance="fill" class="full-width">
                                        <input matInput type="number" formControlName="price"
                                            (input)="calculateTotalPrice()" min="0">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field appearance="fill" style="width: 80px;">
                                        <input matInput type="number" formControlName="discount"
                                            (input)="calculateTotalPrice()" min="0">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field appearance="fill" class="full-width">
                                        <input matInput type="text" formControlName="description">
                                    </mat-form-field>
                                </td>
                                <td *ngIf="isEditMode">
                                    <mat-form-field appearance="fill" style="width: 80px;">
                                        <input matInput type="number" formControlName="commission_price">
                                    </mat-form-field>
                                </td>
                                <!-- <td>
                                    <mat-form-field appearance="fill" class="full-width">
                                        <input matInput type="number" formControlName="amount">
                                    </mat-form-field>
                                </td> -->
                                <td class="text-center">
                                    <button mat-mini-fab type="button"
                                        style="background: #e62d15;color: white; margin-bottom: 18px;"
                                        (click)="removeRow(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Total Amount Section -->
            <div class="col-12 d-flex justify-content-end">
                <div class="card shadow-lg p-4 rounded"
                    style="width: 300px; background: #f8f9fa; border-left: 5px solid #004d99;">
                    <h5 class="text-muted text-center">Total Amount</h5>
                    <mat-form-field class="full-width" appearance="fill">
                        <input matInput formControlName="subtotal_price" readonly class="text-end font-weight-bold"
                            style="font-size: 1.5rem; color: #004d99; text-align: right;">
                    </mat-form-field>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="col-12 text-center">
                <button mat-raised-button style="background: #004d99;color: white" type="submit"
                    [disabled]="myForm.invalid">
                    <mat-icon>check</mat-icon> Submit
                </button>
            </div>
        </div>
    </form>
</div>