<ul class="navbar-nav sidebar-nav p-3">
    <div>
        <p>Sidebar</p>
    </div>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/dashboard">
            <i class="bi bi-house-door me-2"></i> Home
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/portal">
            <i class="bi bi-grid me-2"></i> Portal
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/vendor">
            <i class="bi bi-people me-2"></i> Vendor
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="Role === 'Admin'">
        <a class="nav-link" routerLink="/admin/user">
            <i class="bi bi-person me-2"></i> Operator
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="Role === 'Admin'">
        <a class="nav-link" routerLink="/admin/commission">
            <i class="bi bi-cash me-2"></i> Charges Setting
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/cashback">
            <i class="bi bi-piggy-bank me-2"></i> Commission/Cash Back
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/money-transfer">
            <i class="bi bi-send me-2"></i> Money Transfer
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/aeps">
            <i class="bi bi-credit-card me-2"></i> AEPS & Services
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/fund-transfer">
            <i class="bi bi-bank me-2"></i> Fund Transfer
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/mobile-transfer">
            <i class="bi bi-phone me-2"></i> Mobile Transfer
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="Role === 'Admin'">
        <a class="nav-link" routerLink="/admin/service">
            <i class="bi bi-tools me-2"></i> Services
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/sales">
            <i class="bi bi-bar-chart me-2"></i> Sales
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" (click)="logout()" role="button">
            <i class="bi bi-box-arrow-right me-2"></i> Logout
        </a>
    </li>
    <li style="position: absolute; bottom: 20px; left: 20px;">
        <a href="../../../assets/TKS_Freelance_Copyright_Notice.pdf" target="_blank" class="text-white"
            style="margin-left: auto; font-size: 14px; text-decoration: none;">
            © Copyright
        </a>
    </li>
</ul>