<ul class="navbar-nav sidebar-nav p-3">
    <div>
        <p>Sidebar</p>
    </div>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/dashboard">Dashboard</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/portal">Portal</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/commission">Commission</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/money-transfer">Money Transfer</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/aeps">AEPS Money Transfer</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/user">Vendor</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/service">Services</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/sales">Sales</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" (click)="logout()" role="button">Logout</a>
    </li>
    <li style="position: absolute;bottom: 20px;left: 20px;">
        <a href="../../../assets/TKS_Freelance_Copyright_Notice.pdf" target="_blank" class="text-white"
            style="margin-left: auto; font-size: 14px; text-decoration: none;">© Copyright</a>
    </li>
</ul>