<div class="container mt-3">
    <!-- Dynamic Title -->
    <h3>{{ isEditMode ? 'Edit AEPS Transaction' : 'Add AEPS Transaction' }}</h3>

    <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <!-- Portal -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Portal</mat-label>
                    <mat-select formControlName="portalId">
                        <mat-option *ngFor="let portal of portalList" [value]="portal.PortalID">
                            {{ portal.Name }} ({{ portal.Code }})
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="transactionForm.get('portalId')?.hasError('required')">Portal is
                        required</mat-error>
                </mat-form-field>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Vendor</mat-label>
                    <mat-select formControlName="VendorID" placeholder="Select Vendor">
                        <mat-option *ngFor="let vendor of VendorList" [value]="vendor.id">
                            {{ vendor.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- Aadhar No -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Aadhar No</mat-label>
                    <input matInput type="number" formControlName="ACNo" min="0" placeholder="Enter Aadhar No">
                    <mat-error *ngIf="transactionForm.get('ACNo')?.hasError('required')">Aadhar No is
                        required</mat-error>
                </mat-form-field>
            </div>

            <!-- First Name -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="FirstName" placeholder="Enter First Name">
                    <mat-error *ngIf="transactionForm.get('FirstName')?.hasError('required')">First Name is
                        required</mat-error>
                </mat-form-field>
            </div>

            <!-- Last Name -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="LastName" placeholder="Enter Last Name">
                    <mat-error *ngIf="transactionForm.get('LastName')?.hasError('required')">Last Name is
                        required</mat-error>
                </mat-form-field>
            </div>

            <!-- Contact No -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Contact No</mat-label>
                    <input matInput type="number" min="0" formControlName="ContactNo" placeholder="Enter Contact No">
                    <mat-error *ngIf="transactionForm.get('ContactNo')?.hasError('required')">Contact No is
                        required</mat-error>
                    <mat-error *ngIf="transactionForm.get('ContactNo')?.hasError('pattern')">Enter a valid 10-digit
                        Contact No</mat-error>
                </mat-form-field>
            </div>

            <!-- IFSC No -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>IFSC No</mat-label>
                    <input matInput formControlName="IFSCNo" placeholder="Enter IFSC No">
                    <mat-error *ngIf="transactionForm.get('IFSCNo')?.hasError('required')">IFSC No is
                        required</mat-error>
                </mat-form-field>
            </div>

            <!-- Transaction Date -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Choose a Transaction date</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY"
                        formControlName="TransactionDate" />
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="transactionForm.get('TransactionDate')?.hasError('required')">
                        Date is required
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Transaction Type -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Transaction Type</mat-label>
                    <mat-select formControlName="TransactionType"
                        (selectionChange)="onTransactionTypeChange($event.value)">
                        <mat-option *ngFor="let TransactionType of transactionTypeList" [value]="TransactionType.value">
                            {{ TransactionType.label }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="transactionForm.get('TransactionType')?.hasError('required')">
                        Transaction Type is required
                    </mat-error>
                </mat-form-field>
            </div>
            <!-- Passbook Issue -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3" *ngIf="isAccOpen">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Passbook Issue</mat-label>
                    <mat-select formControlName="passbookIssue">
                        <mat-option *ngFor="let type of passbookIssue" [value]="type">
                            {{ type }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3" *ngIf="isAccOpen">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>AOB</mat-label>
                    <input matInput formControlName="AOB" placeholder="Enter AOB">
                </mat-form-field>
            </div>
            <!-- OtherType Dropdown (Shows only when 'Other' is selected) -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3" *ngIf="isOtherSelected">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Other Type</mat-label>
                    <mat-select formControlName="OtherType">
                        <mat-option *ngFor="let type of otherTypeList" [value]="type.value">
                            {{ type.label }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="transactionForm.get('OtherType')?.hasError('required')">
                        Other Type is required
                    </mat-error>
                </mat-form-field>
            </div>
            <!-- Other Name Input Field -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-3" *ngIf="isOtherSelected">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Other Name</mat-label>
                    <input matInput formControlName="OtherName" placeholder="Enter other name" />
                    <mat-error *ngIf="transactionForm.get('OtherName')?.hasError('required')">
                        Other Name is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3" *ngIf="isOtherSelected"></div>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3" *ngIf="isOtherSelected"></div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <mat-card appearance="outlined" class="p-3">
                    <p class="text-danger fw-bold">Cash Details</p>
                    <div class="row">
                        <div class="col-12 col-md-6" *ngFor="let cash of cashDenominations">
                            <div class="d-flex align-items-center cash-row">
                                <span class="fw-bold me-2">{{ cash.label }} X</span>

                                <input matInput type="number" min="0" [formControlName]="cash.name"
                                    class="denomination-input mx-2"
                                    (input)="updateDenominationTotal(cash.name, cash.multiplier)" />

                                <span class="ms-2 total-box">= {{ denominationTotals[cash.name] || 0 }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Total Cash -->
                        <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>TotalCash</mat-label>
                                <input matInput formControlName="TotalCash" placeholder="Enter TotalCash" readonly>
                                <mat-error *ngIf="transactionForm.get('TotalCash')?.hasError('required')">TotalCash is
                                    required</mat-error>
                            </mat-form-field>
                            <p class="m-0">
                                Total: <span class="text-danger" style="font-size: 18px; font-weight: 600;">
                                    {{ transactionForm.value?.TotalCash || 0 }}</span>
                            </p>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-xl-6">
                <mat-card appearance="outlined" class="p-3">
                    <p class="text-danger fw-bold">Deposite</p>
                    <div class="row">
                        <!-- Collection Amount -->
                        <div class="col-12 col-sm-6 col-md-4 col-xl-6">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Collection Amount</mat-label>
                                <input matInput formControlName="CollectionAmt" placeholder="Enter Collection Amount">
                                <mat-error *ngIf="transactionForm.get('CollectionAmt')?.hasError('required')">
                                    Collection Amount is required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <!--  Extra -->
                        <div class="col-12 col-sm-6 col-md-4 col-xl-6">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label> Extra</mat-label>
                                <input matInput formControlName="Extra" placeholder="Enter  Extra">
                                <mat-error *ngIf="transactionForm.get('Extra')?.hasError('required')">
                                    Extra is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-xl-6" *ngIf="isAccOpen">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label> Pending Amount</mat-label>
                                <input matInput formControlName="PendingAmount" placeholder="Enter  Pending Amount">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-xl-6" *ngIf="isAccOpen">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label> Received Amount</mat-label>
                                <input matInput formControlName="ReceivedAmount" placeholder="Enter Received Amount">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-xl-6">
                            <mat-checkbox formControlName='HighlightEntry'>Highlight Entry</mat-checkbox>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="col-12 mt-3">
            <button mat-raised-button color="primary" type="submit" [disabled]="transactionForm.invalid">Submit</button>
        </div>
    </form>
</div>