/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif !important;
}

.font {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Times New Roman', Times, serif !important;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Times New Roman', Times, serif !important;
    margin: 0;
}

.full-width {
    width: 100%;
}

.desktop {
    display: flex;
}

@media (max-width: 767px) {
    .phone {
        display: flex;
        flex-direction: column;
    }
}

/* Cash Detail */
.cash-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.denomination-input {
    width: 100px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.action-btn {
    background: #f1f1f1;
    border-radius: 50%;
}

.total-box {
    background: yellow;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.total-label {
    font-size: 18px;
    font-weight: bold;
}