<div class="container mt-5">
    <!-- Dynamic Title -->
    <h3>{{ isEditMode ? 'Edit Portal' : 'Add Portal' }}</h3>

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <!-- Name Section -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-4">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" placeholder="Enter name">
                    <mat-error *ngIf="myForm.get('name')?.hasError('required')">Name is required</mat-error>
                </mat-form-field>
            </div>

            <!-- Code Section -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-4">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Code</mat-label>
                    <input matInput formControlName="code" placeholder="Enter code" aria-label="Code">
                    <mat-error *ngIf="myForm.get('code')?.hasError('required')">Code is required</mat-error>
                </mat-form-field>
            </div>

            <!-- Contact No Section -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-4">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Contact No</mat-label>
                    <input matInput type="number" min="0" formControlName="contactNo" placeholder="Enter contact number"
                        aria-label="Contact No">
                    <mat-error *ngIf="myForm.get('contactNo')?.hasError('required')">Contact No is required</mat-error>
                    <mat-error *ngIf="myForm.get('contactNo')?.hasError('pattern')">Invalid Contact No</mat-error>
                </mat-form-field>
            </div>

            <!-- Contact Person Section -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-4">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Contact Person</mat-label>
                    <input matInput formControlName="contactPerson" placeholder="Enter contact person"
                        aria-label="Contact Person">
                    <mat-error *ngIf="myForm.get('contactPerson')?.hasError('required')">Contact Person is
                        required</mat-error>
                </mat-form-field>
            </div>

            <!-- Email Section -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-4">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Enter email" aria-label="Email">
                    <mat-error *ngIf="myForm.get('email')?.hasError('required')">Email is required</mat-error>
                    <mat-error *ngIf="myForm.get('email')?.hasError('email')">Invalid Email</mat-error>
                </mat-form-field>
            </div>

            <!-- Account No Section -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-4">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>AC No</mat-label>
                    <input matInput type="number" min="0" formControlName="acNo" placeholder="Enter account number"
                        aria-label="Account Number">
                    <mat-error *ngIf="myForm.get('acNo')?.hasError('required')">Account No is required</mat-error>
                </mat-form-field>
            </div>

            <!-- Balance Section -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-4">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Balance</mat-label>
                    <input matInput type="number" min="0" formControlName="balance" placeholder="Enter balance"
                        aria-label="Balance" [readonly]="isEditMode">
                    <mat-error *ngIf="myForm.get('balance')?.hasError('required')">Balance is required</mat-error>
                </mat-form-field>
            </div>

            <!-- Transaction Limit Section -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-4">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Transaction Limit</mat-label>
                    <input matInput formControlName="transactionLimit" placeholder="Enter transaction limit"
                        aria-label="Transaction Limit">
                    <mat-error *ngIf="myForm.get('transactionLimit')?.hasError('required')">Transaction Limit is
                        required</mat-error>
                </mat-form-field>
            </div>

            <!-- Opening Balance Date Section -->
            <div class="col-12 col-sm-6 col-md-4 col-xl-4">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Opening Balance Date</mat-label>
                    <input matInput formControlName="openingBalanceDate" [matDatepicker]="picker"
                        placeholder="Select date" aria-label="Opening Balance Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="myForm.get('openingBalanceDate')?.hasError('required')">Opening Balance Date is
                        required</mat-error>
                </mat-form-field>
            </div>

            <!-- Submit Button -->
            <div class="col-12">
                <button mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid">Submit</button>
            </div>
        </div>
    </form>
</div>